.navbar {
    transform: translateX(-50%);
}

.hero-section {
    background: linear-gradient(#000A03, #061F0D);
}

.top-left-shape {
    width: 1092px;
    height: 380px;
    background: linear-gradient(127deg, #d3d3d3, #434b47, #000A03, #021006);
}

.primary-btn-bg-color {
    background: radial-gradient(circle, #318E4D, #135426);
    padding: 30px 20px;
    font-size: 20px;
    border-top: 1px solid white;
}

.primary-btn-bg-color2 {
    background: radial-gradient(circle, #318E4D, #135426);
    padding: 30px 20px;
    font-size: 20px;
}

.btn-texts {
    background: linear-gradient(#318E4D, #135426);
    height: 115px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    border: 1px solid #318E4D;
}

.under-image {
    box-shadow: 6px -5px 8px rgba(0, 0, 0, 0.3);
}

.image-under-wrapper {
    transform: translateX(-50%);
}

.video-icon {
    transform: translate(-50%, -50%);

}

.under-div {
    background: linear-gradient(#318E4D, #135426);

}

.tab-btn-group {
    display: flex;
    position: absolute;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 12px;
    border: 1px solid #DCEEE2;
}

.single-slider {
    background: linear-gradient(#04170a24, #04170A);
}

.mySwiper .swiper-wrapper {
    padding-top: 200px;
}

.mySwiper .swiper-wrapper .swiper-slide {
    transform: translateY(0px);
    transition: all 0.6s;
}

.mySwiper .swiper-wrapper .swiper-slide:hover {
    transform: translateY(-100px);
    transition: all 0.6s;
}

.step {
    padding: 5px 15px;
    background-color: #DCEEE2;
}


/* responsive */

@media (min-width: 768px) and (max-width: 1024px) {
    .res-hero-main-wrapper {
        flex-direction: column;
        align-items: center;
        padding-top: 58px;
    }

    .tab-font-size {
        font-size: 68px;
    }

    .top-left-shape {
        width: 100%;
        height: 250px;
    }

    .res-bottom-shap-2 {
        width: 400px;
    }

    .res-bottom-shap-2-absolute {
        top: -29px;
        right: 10px;
    }

    .hero-content {
        align-items: center;
    }

    .counter-wrapper {
        position: inherit;
        margin: 40px 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .res-hero-main-wrapper {
        flex-direction: column;
        align-items: center;
        padding-top: 58px;
    }

    .tab-font-size {
        font-size: 48px;
    }

    .top-left-shape {
        width: 100%;
        height: 200px;
    }

    .res-bottom-shap-2 {
        width: 300px;
    }

    .res-bottom-shap-2-absolute {
        top: -45px;
        right: 10px;
    }

    .hero-content {
        align-items: center;
    }

    .counter-wrapper {
        position: inherit;
        margin: 40px 0;
    }

    .hero-right-image {
        width: 350px;
    }

    .navbar {
        margin-top: 20px;
    }

    .video-icon {
        width: 50px;
        height: 50px;
    }

    .video-icon div {
        width: 40px;
        height: 40px;
    }

    .play-icon {
        font-size: 18px;
    }
}

@media (min-width: 360px) and (max-width: 575px) {
    .res-hero-main-wrapper {
        flex-direction: column;
        align-items: center;
        padding-top: 58px;
    }

    .tab-font-size {
        font-size: 32px;
    }

    .top-left-shape {
        width: 100%;
        height: 200px;
    }

    .res-bottom-shap-2 {
        width: 190px;
    }

    .res-bottom-shap-2-absolute {
        top: -60px;
        right: 3px;
    }

    .hero-content {
        align-items: center;
        padding: 0;
        padding-top: 60px;
    }

    .counter-wrapper {
        position: inherit;
        margin: 40px 0;
        flex-direction: column;
        align-items: baseline;
        gap: 0;
    }

    .hero-right-image {
        width: 350px;
        height: 500px;
        margin-top: -90px;
    }

    .navbar {
        margin-top: 20px;
    }

    .video-icon {
        width: 30px;
        height: 30px;
    }

    .video-icon div {
        width: 20px;
        height: 20px;
    }

    .play-icon {
        font-size: 10px;
    }

    .margine-l-0 {
        margin-left: 0px;
    }

    .flex-colum {
        flex-direction: column;
        gap: 0;
    }

    .hero-image {
        transform: scale(.7);
        margin-left: 62px;
    }

    .image-btn-wrapper {
        top: 100px;
    }
    .navbar-start{
        max-width: 50%;
    }
}